.root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.titleContainer{
  height: 47px;
  width: 100%;
  display: flex;
  justify-content: center;  /* 수평 가운데 정렬 */
  text-align: center;
  margin-bottom: 150px; 
}

.text{
  color: #2e2e30;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  top: 0;
}
 

.totalBox {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #eeedf1;
  border-radius: 35px;
  box-shadow: 0px 0px 40px #0000000d;
  height: 223px;
  left: 0;
  top: 0;
  width: 1047px;
  margin-bottom: 100px; 
  display: flex; /* 내부 요소들을 가로로 배치하기 위해 Flexbox를 활성화합니다. */
  flex-direction: column; /* 요소들을 세로로 쌓습니다. */
  justify-content: center; /* 세로 방향으로 가운데 정렬합니다. */
  align-items: center; /* 가로 방향으로 가운데 정렬합니다. */
}

.box2 {
  height: 112px;
  position: relative;
  width: 851px;
}

.group {
  height: 112px;
  left: 0;
  top: 0;
  width: 875px;
}

.navbar {
  height: 65px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 812px;
}

.line {
  height: 2px;
  left: 34px;
  position: absolute;
  top: 23px;
  width: 752px;
}

.group1 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.overlapGroup {
  height: 64px;
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.rectangle1 {
  background-color: #eeedf1;
  border-radius: 7.22px;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}

.numberBox {
  width: 52px;
  height: 53px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.polygon {
  height: 10px;
  left: 18px;
  position: absolute;
  top: 53px;
  width: 14px;
}

.rectangle-2 {
  background-color: var(--gray-100);
  border-radius: 7.22px;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}

.numberText {
  color:#898394;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top:8px;
}

.progressText {
  color:#898394;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-weight: 500;
  left: -10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 76px;
}




.tooltipContainer {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  left:209px;
  top:10px;
}

.tooltipContainer_step6 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  left:370px;
}

.tooltipButton {
  width: 24px; 
  height: 24px; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}


.tooltipText {
  display: none;
  position: absolute;
  background-color: #2e2e30;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
  z-index: 1;
  top: calc(100% + 10px); /* 툴팁을 버튼 아래로 위치시킵니다. */
  left: 50%;
  transform: translateX(-50%);
  align-items: flex-start;
  font-family: "Noto Sans CJK KR";
  font-size: 14px;
  font-weight: 400;

}
.tooltipText::after {
  content: '';
  position: absolute;
  top: -10px; /* 꼬리를 위쪽으로 위치시킵니다. */
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #333 transparent; /* 북쪽 방향으로 꼬리를 만듭니다. */
}

.tooltipContainer:hover .tooltipText {
  display: block;
}



.blackbuttonContainer {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
}

.blackbutton{
  background-color: #1e1e1e;
  align-items: center;
  border-radius: 50px;
  gap: 10px;
  justify-content: center;
  padding: 0px 67px;
  position: relative; 
  margin-bottom: 281px;
}

.blackbuttonText {
  color: #fff;
  font-family: "Noto Sans CJK KR-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

