.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.q4_container {
  display: flex;
  flex-direction: column;
  width: 864px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  color: #2e2e30;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.q4Select_container {
  width: 864px;
  margin-top: 40px;
  display: flex;
  /* 가로 정렬을 위해 flexbox 사용 */
  justify-content: space-between;
  /* 요소 사이의 간격을 균등하게 설정 */
}

.banner_container {
  
  height: 110px;
  width: 864px;
  margin-top:30px;

}

.banner_box {
  z-index: 1;
  position: absolute; /* 이미지를 절대 위치로 설정 */

  display: flex;
  align-items: center;
  background-color: #FDEEFC;
  border: 1px solid;
  border-color: #f4f4f4;
  border-radius: 15px;
  height: 110px;
  width: 864px;
}

.image {
  z-index: 2;
  height: 108px;
  left: 25px;
  position: absolute; 
  width: 189px;
}

.text_container {
  position: absolute; 
  height: 54px;
  width: 450px;
}

.text {
  z-index: 3;
  color: #2E2E30;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 38px;
  margin-right: 220px;
}

.findHealthCenter_button {
  display: inline-flex;
  padding: 5px 18px;
  align-items: center;
  border-radius: 20px;
  background: #C2A0C0;
  border: 1px solid transparent;
  color: #ffffff;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}