.formContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 880px;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 15px;
  height: 140px;
}

.topGroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.inputField {
  display: flex;
  align-items: center;
}

.inputField label {
  margin-bottom: 2px;
  margin-right: 5px;
  font-family: 'Noto Sans KR', Helvetica;
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
}

.inputField input {
  -webkit-text-stroke: 0px #000000;
  background-color: #f0f0f0;
  border: None;
  border-radius: 8px;
  font-family: 'Noto Sans KR', Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  left: 14px;
  letter-spacing: 0;
  padding: 0;
  position: relative;
  top: 6px;
  width: 243px;
  margin-bottom: 10px;
  margin-top: -3px;
  margin-right: 20px;
  padding-left: 15px;
}

.removeButton {
  background-color: #fee2dc;
  color: #fd3d12;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 32px;
  font-family: 'Noto Sans KR', Helvetica;
  font-size: 12px;
}

.addButton {
  display: grid;
  place-items: center;
  width: 223px;
  height: 68px;
  border-radius: 50px;
  border: 1px solid #1e1e1e;
  background-color: #1e1e1e;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  margin-left: 310px;
}

.explain {
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 190px;
}

.Axe {
  margin-bottom: 17px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 15px;
}
.relationField {
  display: flex;
  align-items: flex-start;
}

.relationField label {
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 30px;
  font-family: 'Noto Sans KR', Helvetica;
  font-size: 18px;
  font-weight: 500;
}

.relationField input {
  -webkit-text-stroke: 0px #000000;
  background-color: #f0f0f0;
  border: None;
  border-radius: 8px;
  font-family: 'Noto Sans KR', Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  left: 14px;
  letter-spacing: 0;
  padding: 0;
  position: relative;
  top: 6px;
  width: 595px;
  margin-bottom: 10px;
  margin-top: -3px;
  margin-right: 30px;
  padding-left: 15px;
}
.inputField input::placeholder {
  font-size: 14px;
}

.relationField input::placeholder {
  font-size: 14px;
}
