.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1047px;
  flex-shrink: 0;
  border-radius: 35px;
  border: 1px solid #eeedf1;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  padding-top: 77px;
  padding-bottom: 20px;
  margin-bottom: 280px;
}

.info_container {
  display: flex;
  flex-direction: column;
  width: 864px;
}

.title {
  color: #2e2e30;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  color: var(--gray800, #675f5f);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px 0;
}

.record_information {
  color: var(--gray800, #675f5f);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.legal_effect_wrapper {
  display: flex;
  align-items: center;
  width: 178px;
  height: 37px;
  padding: 5px 20px;
  gap: 10px;
  border-radius: 20px;
  background: #eeedf1;
  color: #898394;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.legal_effect_img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.record_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record_img {
  position: relative;
  width: 109px;
  height: 109px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
  background-image: url(../../../../assets/images/microphone_black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #cac8ce;
  border-radius: 50%;
  // cursor: pointer;
  transition: all 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3.61px solid #e6e6e6;
  }

  &.active {
    background-color: #2e2e30;
    background-image: url(../../../../assets/images/microphone.svg);

    &::after {
      border: 3.61px solid #fff;
      opacity: 20%;
    }
  }
}

.record_button {
  display: inline-flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--gray-300, #cac8ce);
  background: #fff;
  color: #898394;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;

  &.active {
    background: #2e2e30;
    color: #fff;
    font-weight: 400;
  }
}

.will_textarea {
  width: 864px;
  min-height: 600px;
  padding: 24px 26px;
  color: #2e2e30;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 15px;
  border: 1px solid var(--gray-50, #f4f4f4);
  background: #f4f4f4;
  margin-top: 61px;
  margin-bottom: 156px;
}

.date_text {
  color: #898394;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 19px;
}

.audio {
  margin: 15px 0;

  &.active {
    outline: none;
  }
}
