.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1047px;
    flex-shrink: 0;
    border-radius: 35px;
    border: 1px solid #eeedf1;
    background: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
    padding-top: 77px;
    padding-bottom: 66px;
    margin-bottom: 280px;
  }
  
  .q1_container {
    display: flex;
    flex-direction: column;
    width: 864px;
  }

  .q2_container {
    display: flex;
    flex-direction: column;
    width: 864px;
    margin-top:100px;
    margin-bottom:100px;
  }

  .title {
    color: #2e2e30;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .text {
    color: var(--gray800, #675f5f);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }



  .textcontainer{
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: center;  /* 수평 가운데 정렬 */
    text-align: center;
    margin-bottom: 150px; 
  }
  
  .text2{
    color: #2e2e30;
    font-family: "Noto Sans KR";
    font-size: 32px;
    font-weight: 1100;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 0;
  } 

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1047px;
      flex-shrink: 0;
      border-radius: 35px;
      border: 1px solid #eeedf1;
      background: #fff;
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
      padding-top: 77px;
      padding-bottom: 20px;
      margin-bottom: 280px;
    }

    
    .q1Select_container {
      width: 864px;
      margin-top:40px;
      display: flex; /* 가로 정렬을 위해 flexbox 사용 */
      justify-content: space-between; /* 요소 사이의 간격을 균등하게 설정 */
    }

    .q2Select_container {
      width: 864px;
      margin-top:40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3개의 열을 만듭니다. */
      gap: 30px 16px;
    }


    .textcontainer{
      height: 47px;
      width: 100%;
      display: flex;
      justify-content: center;  /* 수평 가운데 정렬 */
      text-align: center;
      margin-bottom: 150px; 
    }
    .frame7 {
      display: inline-flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center; 
      background-color: #ffffff;
      border: 1px solid;
      border-color: #CAC8CE;
      border-radius: 10px;
      height: 135px;
      width: 160px;
      overflow: hidden;
      color: #2e2e30; /* 텍스트 색상 (기본) */

      transition: background-color 0.3s, color 0.3s; /* 색상 전환 애니메이션 */
    }
    
    .frame22 {
      display: inline-flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center; 
      height: 241px;
      width: 270px;

      background-color: #ffffff;
      border: 1px solid;
      border-color: #CAC8CE;
      border-radius: 10px;
      overflow: hidden;
      transition: background-color 0.3s, color 0.3s; /* 색상 전환 애니메이션 */
    }
    .content_text {
      color: #675F5F;
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }
    .content_text.clicked {
      color: #F4F4F4;
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }
    .title_text{
      color: #2E2E30;
      font-style: normal;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      margin-bottom: 5px;
    }
    .title_text.clicked{
      color: #fff;
      font-style: normal;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      margin-bottom: 5px;
    }
    
    .frame7.clicked {
      background-color: #2E2E30; /* 클릭된 버튼의 배경색 변경 */
      border-color: #CAC8CE; /* 클릭된 버튼의 테두리 색상 변경 */
      color: #fff !important; /* 클릭된 버튼의 텍스트 색상을 흰색으로 변경 */
    }

    .hope_container {
      background-color: #f4f4f4;
      border: 1px solid;
      border-color: #f4f4f4;
      border-radius: 15px;
      height: 110px;
      position: relative;
      width: 864px;
      top:30px;
    }

    textarea {
      text-indent: 25px; /* 플레이스홀더 텍스트를 왼쪽으로 10px 옮김 */
      padding-top:25px;
      font-style: normal;
    }