.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1047px;
  flex-shrink: 0;
  border-radius: 35px;
  border: 1px solid #eeedf1;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  padding-top: 77px;
  padding-bottom: 20px;
  margin-bottom: 280px;
}

.q1_container {
  display: flex;
  flex-direction: column;
  width: 864px;
}

.title {
  color: #2e2e30;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.q1Select_container {
  width: 864px;
  margin-top: 40px;
  display: flex;
  /* 가로 정렬을 위해 flexbox 사용 */
  justify-content: space-between;
  /* 요소 사이의 간격을 균등하게 설정 */
}

.selectBox {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #cac8ce;
  border-radius: 10px;
  height: 135px;
  width: 160px;
  overflow: hidden;
  color: #2e2e30;
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &.clicked {
    background-color: #2e2e30;
    border-color: #cac8ce;
    color: #fff;

    .title_text {
      color: #fff;
      font-weight: 500;
    }

    .content_text {
      color: #f4f4f4;
      font-weight: 400;
    }
  }
}

.content_text {
  width: 114px;
  color: #675f5f;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  word-break: keep-all;
}

.title_text {
  color: #2e2e30;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 5px;
}

.hope_container {
  background-color: #f4f4f4;
  border: 1px solid;
  border-color: #f4f4f4;
  border-radius: 15px;
  height: 110px;
  position: relative;
  width: 864px;
  top: 30px;
  padding: 20px 30px;
}
