.will_textarea {
  width: 864px;
  min-height: 600px;
  padding: 30px 26px;
  color: #2e2e30;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 15px;
  border: 1px solid var(--gray-50, #f4f4f4);
  background: #f4f4f4;
  margin-top: 61px;
  margin-bottom: 156px;
}

.will_title {
  color: #2e2e30;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 20px 0;
}
